# requirements.txt

numpy
opencv-python
Pillow
tqdm
onnxruntime

torch
torchvision


transformers
timm
addict
yapf

supervision

pycocotools


groundingdino-py
git+https://github.com/facebookresearch/segment-anything.git
